body {
  background-color: #111015;
  color: #fff;
}
small {
  font-size: 0.7rem;
}
.navbar-toggler:focus {
  box-shadow: none;
}
.nav-link {
  font-weight: 600;
  transition: 0.6s;
  border: 1.5px solid transparent;
  border-radius: 15px;
}
.nav-link.active,
.nav-link:hover {
  border: 1.5px solid #2196f3;
  border-radius: 15px;
  text-shadow: #bebcbc 0px 0px 5px, #fff 0px 0px 10px, #2196f3 0px 0px 20px,
    #2196f3 0px 0px 30px;
}
.search-div {
  width: 80%;
  margin: 3rem auto;
}
.search-div i {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
  cursor: pointer;
}
.form-control,
.form-control:focus {
  background-color: #1e1e1e;
  border: 0;
  color: #bebcbc;
  box-shadow: none;
  margin: 3rem auto;
  padding: 0.7rem;
  border-radius: 3rem;
  color: #fff;
  font-weight: 600;
}
.form-control::placeholder {
  color: #a4a4a4;
  font-weight: bold;
  font-size: 0.8rem;
}
.form-control.submit {
  width: 100%;
  margin: auto;
}
.form-control.contact {
  margin: auto;
  border-radius: 5px;
}
button.subscribe {
  position: absolute;
  top: 0px;
  right: 0;
  padding: 10px;
}
.weather-state {
  height: 200px;
  background-color: #9f9e9e;
}
.icons {
  justify-content: center;
  align-items: flex-end;
  gap: 22px;
}
.icons .icon-container {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icons i {
  font-size: 1.5rem;
  cursor: pointer;
  transition: 0.3s;
}
.icons .icon-container:hover i {
  color: #2196f3;
}

footer p {
  background-color: #212529;
  width: 100%;
  margin: 1rem auto 0;
  color: #9f9e9e;
}
/* Style cards */
.weather-card {
  padding: 20px 0px;
  text-align: center;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 2px 5px 0 rgba(177, 177, 181, 0.37);
  backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.weather-card .date {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}

.weather-card .temp {
  font-size: 3rem;
  font-weight: bold;
  margin-top: 10px;
}

.weather-card .desc {
  font-size: 16px;
  margin-top: 10px;
  color: #2196f3;
  font-weight: 800;
}
.weather-card .wind,
.weather-card .humidity,
.weather-card .campus {
  font-weight: 600;
}
/* Contact file */
.contact h2::first-letter {
  color: #2196f3;
  font-size: 3rem;
}
.contact > p {
  line-height: 1.7;
  color: #9f9e9e;
}
.contact-info {
  border-bottom: 1px solid #a4a4a4;
  padding-top: 10px;
  line-height: 1.7;
}
.contact-info span {
  font-weight: 800;
}
.contact-info p:first-of-type {
  color: #9f9e9e;
}
